<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

  <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<div class="workout-general-info">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, { placeholder: "Workout Title", class: "input-xlarge" } %>
  </div>
  <div class="field">
    <%= f.label :date_performed %>
    <%= f.date_select :date_performed %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes, { placeholder: "Notes" } %>
  </div>
</div>

<div id="workout_exercises_container">
  <%= f.fields_for :workout_exercises do |builder| %>
    <%= render "workout_exercises_fields", f: builder, exercises: @exercises %>
  <% end %>
  <div class="prev-placeholder">
    <%= link_to_add_fields "Add Exercise", f, :workout_exercises %><br/>
  </div>
</div>
<div class="workout-actions">
  <%= f.submit class: "btn btn-success btn-large" %>
</div>

<% end %>

<script type="text/template" id="set-template">
<tr class="fields">
  <td>
    <span class="set-number">1</span>
    <input class="set-field" id="workout_workout_exercises_attributes_1394063223951_workout_sets_attributes_1394063323044_set_number" name="workout[workout_exercises_attributes][1394063223951][workout_sets_attributes][1394063323044][set_number]" type="hidden" value="1">
  </td>
  <td>  
    <input class="input-small input-reps" id="workout_workout_exercises_attributes_1394063223951_workout_sets_attributes_1394063323044_rep_count" name="workout[workout_exercises_attributes][1394063223951][workout_sets_attributes][1394063323044][rep_count]" placeholder="reps" type="text">
  </td>
  <td>
    <input class="input-small input-weight" id="workout_workout_exercises_attributes_1394063223951_workout_sets_attributes_1394063323044_weight" name="workout[workout_exercises_attributes][1394063223951][workout_sets_attributes][1394063323044][weight]" placeholder="weight" type="text">
  </td>
  <td>
    <input id="workout_workout_exercises_attributes_1394063223951_workout_sets_attributes_1394063323044__destroy" name="workout[workout_exercises_attributes][1394063223951][workout_sets_attributes][1394063323044][_destroy]" type="hidden" value="false"><a href="#" onclick="Workouts.remove_fields(this); return false;">remove</a>
  </td>
</tr>
</script>
