<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

  <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<div class="workout-general-info">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, { placeholder: "Workout Title", class: "input-xlarge" } %>
  </div>
  <div class="field">
			 <%= f.label :date_performed %><br/>
	 <%= f.date_select :date_performed, { order: [:day, :month, :year] } %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes, { placeholder: "Notes" } %>
  </div>
</div>

<div id="workout_exercises_container">
  <%= f.fields_for :workout_exercises do |builder| %>
    <%= render "workout_exercises_fields", f: builder, exercises: @exercises %>
  <% end %>
  <div class="prev-placeholder">
    <%= link_to_add_fields "Add Exercise", f, :workout_exercises %>
    <br/>
  </div>
</div>
<div class="workout-actions">
	<%= button_tag class: "btn btn-primary btn-large", type: 'submit' do %>
		<span class="glyphicon glyphicon-check icon-white"></span> Save Workout
	<% end %>
</div>

<% end %>

<%= link_to_add "Add Missing Exercise", "#", id: "btn_add_missing_exercise" %>
<%= render 'exercises/template_create_exercise', exercise: @new_exercise %>
<script>
	$(document).ready(function(){
		AttachHandlerToAddExercise("#btn_add_missing_exercise", AddExerciseToWorkoutList);
	});
</script>


<div style="border: 1px solid blue; margin: 5px; padding: 5px;">
		  
<a href="#" id="btn_add_workout_exercise" class="btn btn-primary">Add Workout Set</a>
<a href="#" id="btn_add_new_exercise" class="btn btn-success">Add Missing Exercise</a>






<div id="workout">
</div>

<a href="#" id="btn_generate_json">Generate JSON</a>

<div id="template_workout_exercise" class="workout-exercise-container" style="display:none;">Select an exercise:
	<select name="exercise-select" class="exercise-select"></select>
	<div class="workout-sets-container"></div> <a href="#" class="btn-add-set">Add a set</a>
</div>

<div id="template_workout_set" class="workout-set" style="display: none">
	<span class="set-number"></span>
	Reps:
	<input type="text" name="reps" class="reps form-control" />Weight:
	<input type="text" name="weight" class="weight form-control" />
	<input type="hidden" name="id" value="" />
	<input type="hidden" name="_destroy" value="false" />
	<a href="#" class="btn btn-danger btn-sm btn-remove-set"><span class="glyphicon glyphicon-remove"></span></a>
</div>
</div>
