<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

  <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :date_performed %>
  <%= f.date_select :date_performed %>
</div>
<div>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</div>

<div id="workout_exercises_container">
  <div style="border:1px red solid; padding:10px;">
    <%= f.fields_for :workout_exercises do |builder| %>
      <%= render "workout_exercises_fields", f: builder, exercises: @exercises %>
    <% end %>
    <%= link_to_add_fields "Add Exercise", f, :workout_exercises %><br/>
  </div>
</div>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>
