<table class="workouts_workout_exercise fields">
  <thead>
    <tr>
      <th colspan="4">
        <h4>
          <%= f.collection_select(:exercise_id, exercises, :id, :name) %>
          <%= link_to_remove_fields "remove", f %>
        </h4>
      </th>
    </tr>
    <tr>
      <th>Set</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :workout_sets do |set| %>
      <%= render "workout_sets_fields", f: set  %>
    <% end %>
    <tr class="prev-placeholder">
      <td colspan="4">
        <br/><%= link_to_add_fields "Add Set", f, :workout_sets %>
    </td>
    </tr>
  </tbody>
</table>

