<tr>
  <td>
    <%= f.label :set_number %>
    <%= f.text_field :set_number %>
  </td>
  <td>
    <%= f.label :rep_count %>
    <%= f.text_field :rep_count %>
  </td>
  <td>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </td>
</tr>

