<% if current_user == @workout.user %>
<div class="workout-actions right">
		  <%= link_to_edit "Edit", edit_user_workout_path(@workout.user.username, @workout) %>  
		  <%= link_to_add "Create Template", new_workout_template_path(id: @workout) %>
		  <%= link_to_destroy "Delete Workout", delete_user_workout_path(id: @workout, username: @workout.user.username), method: :delete, data: { confirm: 'Are you sure?' }%>
</div>
<% end %>

<div class="workout-general-info">
  <h2><%= @workout.title %></h2>
<div>
  <%= format_date @workout.date_performed %>
</div>
<% unless @workout.notes.blank? %>
<div>
  Notes: <%= @workout.notes %>
</div>
<% end %>
<div>
  by: <%= @workout.user.username %>
</div>
</div>


<div id="workout_exercises_container" class="container-fluid">
<% @workout.workout_exercises.each do |workout_exercise| %>
		  <div class="workout-exercise-container" id="<%= dom_id(workout_exercise) %>" data-workoutset="<%= workout_exercise.workout_sets.to_json %>" data-exercise-name="<%= workout_exercise.exercise.name %>">
					 <div class="row">
								<div class="col-md-4">
		  <table class="table table-striped">
    <thead>
    <tr>
      <th colspan="2"><h3><%= link_to workout_exercise.exercise.name, workout_exercise.exercise %></h3></th>
    </tr>
	 <tr>
				<th>Set</th>
				<th>Weight x Reps</th>
	 </tr>
  </thead>
  <tbody>
    <% workout_exercise.workout_sets.each do |workout_set| %>
      <tr>
        <td><%= workout_set.set_number %></td>
        <td><%= workout_set.weight %>x<%= workout_set.rep_count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-8" id="<%= dom_id(workout_exercise) %>_graph">
</div>
</div>
</div>
<% end %>
</div>

<script>
$(document).ready(function(){
		  var groupData = $.each($("div.workout-exercise-container"), function(key, value){
					 console.log(key);
					 var data = $(value).data("workoutset");
					 var containerId = "#" + $(value).attr("id") + "_graph";
					 var exerciseName = $(value).data("exercise-name");
					 console.log(containerId);
					 console.log(exerciseName);
					 if(data.length > 2){
						WorkoutGraphs.RepsAndWeightPerSetGraph(data, exerciseName, containerId);
					 } else {
								$(containerId).html("<div class='alert alert-info'><strong>No graph available.</strong></div>");
					 }
			
		  });
});
</script>
