<h1>Workouts#show</h1>
<div>
  Title: <%= @workout.title %>
</div>
<div>
  Date: <%= @workout.date_performed %>
</div>
<div>
  Notes: <%= @workout.notes %>
</div>
<div>
  ID: <%= @workout.id %>
</div>
<div>
  User ID: <%= @workout.user_id %>
</div>
<hr/>
<h3>Sets</h3>
<% @workout.workout_exercises.each do |workout_exercise| %>
  <table>
    <tr>
      <td colspan="2"><h3><%= link_to workout_exercise.exercise.name, workout_exercise.exercise %></h3></td>
    </tr>
    <% workout_exercise.workout_sets.each do |workout_set| %>
      <tr>
        <td><%= workout_set.set_number %>:</td>
        <td><%= workout_set.weight %>x<%= workout_set.rep_count %></td>
        <td> Workout Set ID: <%= workout_set.id %> </td>
      </tr>
    <% end %>
  </table>
<% end %>

  <%= link_to "edit", edit_workout_path(@workout) %>
