<div id="body_weight_entry">
	<%= form_for @body_weight, html: { class: "form-inline" } do |f| %>
		<div class="form-group">
				  <%= f.label :weight %><br/>
			<%= f.text_field :weight, value: (number_with_precision(f.object.weight, precision: 2) || 0), class: "form-control" %>
		</div>
		<br/>
		<div class="form-group" style="margin-top: 10px;">
			<%= f.label :log_date, "Log Date" %><br/>
			<%= f.date_select :log_date, { order: [:day, :month, :year] }, class: "form-control" %>
			<%= f.submit 'Save', class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
