<h1>Body Weight</h1>
<div id="body_weight_entries">
		  <ul>
		  <%= @body_weights.each do |entry| %>
					 <li><%= entry.weight %> - <%= format_date entry.log_date %></li>
		  <% end %>
</ul>
</div>


<%= form_for @body_weight do |f| %>
		  <%= f.label :weight %>
		  <%= f.text_field :weight %>

		  <%= f.submit 'Save' %>
<% end %>
