<tr class="workout-set">
  <td>
    <span class="set-number"><%= "#{f.object.set_number ||= 1}" %></span>
    <%= f.hidden_field :set_number, { :class => "set-field" } %>
    <%= f.hidden_field :exercise_id, value: f.object.exercise_id %>
	 <%= f.hidden_field :workout_template_id, value: f.object.workout_template_id %>
	 <%= f.hidden_field :id %>
  </td>
  <td>  
    <%= f.text_field :rep_count, placeholder: "reps", class: "input-small input-reps form-control" %>
  </td>
  <td>
    <%= f.text_field :weight, placeholder: "weight", class: "input-small input-weight form-control" %>
 </td>
 <td>
 <%= check_box_tag :is_percent_of_one_rep_max, class: "form-control" %>
 <%= label_tag :is_percent_of_one_rep_max, "Percentage of One Rep Max?" %>
 </td>
  <td>
	  <%= f.number_field :percent_of_one_rep_max, class: "input-small input-percent-orm form-control" %>
  </td>
  <td>
    <%= f.hidden_field :_destroy, value: "false" %>
	 <a href="#" class="btn btn-danger btn-sm btn-remove-set"><span class="glyphicon glyphicon-remove"></span></a>
  </td>
</tr>
