<%= form_for(@logged_food) do |f| %>
  <% if @logged_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logged_food.errors.count, "error") %> prohibited this food from being logged:</h2>

      <ul>
      <% @logged_food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :servings %><br />
    <%= f.number_field :servings %>
  </div>
  <div class="field">
    <%= f.label :log_date, "Log Date" %><br />
    <%= f.date_select :log_date, order: [:day, :month, :year]  %>
  </div>
  <%= f.hidden_field :food_id, value: @logged_food.food.id %>
  <div class="actions">
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>
