<% if logged_foods.count == 0 %>
	<div class="alert alert-info" style="margin-top:10px"><strong>No foods logged yet for today!</strong></div>
<% else %>
	<% logged_foods.each do |logged| %>
	<div class="food-item logged-food-entry">
	<div class="food-item-info">
		<div class="control-panel">
			<%= link_to_edit "", edit_log_food_path(logged), name: "Edit", class: "btn-xs" %>
			<%= link_to_ajax_destroy "", logged, name: "Delete", class: "btn-xs", data: { confirm: "Are you sure you want to delete #{logged.servings} servings of #{logged.food_name}?" }%>
		</div>
		<h4><%= link_to logged.food_name, logged.food %></h4>
		<h3></h3>
		<%= macronutrient_summary_display(logged) %>
		<div class="serving-size"><%= logged.servings %> servings
		</div>
	</div>
	<div class="food-item-image"><%= image_tag logged.food.food_image.url(:thumb) %></div>
</div>
<% end %>
<% end %>
