<h2><%= @logged_food.food_name %></h2>
<span id="servings"><%= @logged_food.servings %> servings</span>
<br/>
<span id="log_date">
    <%= format_date @logged_food.log_date %> (<%= days_ago @logged_food.log_date %>)
  </span>
<br/>
<%= link_to_edit "Edit", edit_log_food_path(@logged_food) %>
