<h1 id="athlete_name"><%= @user.username %></h1>
Gender: <%= @user.gender.humanize %><br/>
Height: <%= height(@user.height) %><br/>
Age: <%= @user.age.nil? ? "unknown" : @user.age %> 

<% if @user == current_user %>
	<br/><br/>
	<%= link_to_edit "Edit", edit_athlete_path(@user) %>

	<hr/>
	<%= render 'user_preferences/display_prefs', preferences: current_user.preferences %>
	<%= link_to_edit "Edit Preferences", edit_user_preferences_path %>
<% end %>
