<div id="dashboard">
	<%= render 'user_bmi' %>

	<div id="nutrition">
		<h2>Nutrition</h2>
		<% if @presenter.logged_foods.count > 0 %>
			<%= render 'nutrition_goals/nutrition_goals', macro_totals: @presenter.macro_totals, nutrition_goal: @presenter.nutrition_goal %>
		<% end %>
		<div style="width: 500px">
			<%= render 'foods/search' %>
		</div>
	</div>
	
	<hr/>

	<div id="workouts">
		<h2>Workouts</h2>
		<%= link_to_add "Workout", new_workout_path %>
		<% if current_user.workout_templates.count > 0 %>
			<%= link_to_add "Workout from Template", workout_templates_path %>
		<% else %>
			<%= link_to_add "Create Workout Template", new_workout_template_path %>
		<% end %>
	</div>

	<hr/>

	<div id="circles">
		<h2>My Circles</h2>
		<%= "Not a member of any circles!" if @memberships.empty? %>
		<% @memberships.each do |circle| %>
			<%= link_to circle.name, circle %><br>
		<% end %>
	</div>
</div>
