<h1>Dashboard</h1>
<hr />
<%= render 'user_bmi' %>
<h2>My Circles</h2>
<%= "Not a member of any circles!" if @memberships.empty? %>
<% @memberships.each do |circle| %>
	<%= link_to circle.name, circle %><br>
<% end %>

<%= render 'foods/search' %>

<div id="workouts">
		  <%= link_to_add "Workout", new_workout_path %>
		  <%= link_to_add "Template Workout", workout_templates_path %>
</div>
