<h1>Dashboard</h1>
<hr />
<%= render 'user_bmi' %>
<h2>My Circles</h2>
<%= "Not a member of any circles!" if @memberships.empty? %>
<% @memberships.each do |circle| %>
	<%= link_to circle.name, circle %><br>
<% end %>

<%= render 'foods/search' %>

<div id="workouts">
		  <%= link_to_add "Workout", new_workout_path %>
		  <% if current_user.workout_templates.count > 0 %>
					 <%= link_to_add "Workout from Template", workout_templates_path %>
		  <% else %>
					 <%= link_to_add "Create Workout Template", new_workout_template_path %>
		  <% end %>
</div>
