<div id="favorite_foods_list">
	<% @favorite_foods.each do |favorite_food| %>
		<div class="favorite-food-item">
			<div class="food-item-info">
				<div class="control-panel">
						  <%= link_to_add "Log Item", new_food_log_food_path(food_id: favorite_food.food), 
									 :data => { id: favorite_food.food.id, 
												url: food_log_foods_path(favorite_food.food), "food-name" => favorite_food.food.name } %>
					<%= link_to_destroy "Remove", favorite_food_path(favorite_food), method: :delete %>
				</div>
				<h4><%= link_to favorite_food.food_name, food_path(favorite_food.food) %></h4>
				<h3></h3>
				<div class="summary-panel">
					<span class="macronutrient-summary-item">Calories:</span> <%= favorite_food.food.calories %> 
					<span class="macronutrient-summary-item">Protein:</span> <%= favorite_food.food.protein %> 
					<span class="macronutrient-summary-item">Carbs:</span> <%= favorite_food.food.carbs %> 
					<span class="macronutrient-summary-item">Fat:</span> <%= favorite_food.food.total_fat %>
				</div>
				<div class="serving-size"><%= favorite_food.food.serving_size %></div>
			</div>
			<div class="food-item-image"></div>
		</div>
	<% end %>
</div>

<script id="template_log_food" type="x-templ-mustache">
<form class="food-item-log-new form-inline" action="{{ url }}" data-food-name="{{ food_name }}">
	<input name="authenticity_token" type="hidden" value="{{ auth }}">
			<label for="log_food_servings">Servings</label>
			<input id="log_food_servings" name="log_food[servings]" class="food-servings" type="text" value="1.0">

			<label for="log_food_log_date">Log Date</label>
				<select id="log_food_log_date_3i" name="log_food[log_date(3i)]">
					 <option value="1">1</option>
					 <option value="2">2</option>
					 <option value="3">3</option>
					 <option value="4">4</option>
					 <option value="5">5</option>
					 <option value="6">6</option>
					 <option value="7">7</option>
					 <option value="8">8</option>
					 <option value="9">9</option>
					 <option value="10">10</option>
					 <option value="11">11</option>
					 <option value="12">12</option>
					 <option value="13">13</option>
					 <option value="14">14</option>
					 <option value="15">15</option>
					 <option value="16">16</option>
					 <option value="17">17</option>
					 <option value="18">18</option>
					 <option value="19">19</option>
					 <option selected="selected" value="20">20</option>
					 <option value="21">21</option>
					 <option value="22">22</option>
					 <option value="23">23</option>
					 <option value="24">24</option>
					 <option value="25">25</option>
					 <option value="26">26</option>
					 <option value="27">27</option>
					 <option value="28">28</option>
					 <option value="29">29</option>
					 <option value="30">30</option>
					 <option value="31">31</option>
		  </select>
		  <select id="log_food_log_date_2i" name="log_food[log_date(2i)]">
					 <option value="1">January</option>
					 <option value="2">February</option>
					 <option value="3">March</option>
					 <option selected="selected" value="4">April</option>
					 <option value="5">May</option>
					 <option value="6">June</option>
					 <option value="7">July</option>
					 <option value="8">August</option>
					 <option value="9">September</option>
					 <option value="10">October</option>
					 <option value="11">November</option>
					 <option value="12">December</option>
		  </select>
		  <select id="log_food_log_date_1i" name="log_food[log_date(1i)]">
					 <option value="2009">2009</option>
					 <option value="2010">2010</option>
					 <option value="2011">2011</option>
					 <option value="2012">2012</option>
					 <option value="2013">2013</option>
					 <option selected="selected" value="2014">2014</option>
					 <option value="2015">2015</option>
					 <option value="2016">2016</option>
					 <option value="2017">2017</option>
					 <option value="2018">2018</option>
					 <option value="2019">2019</option>
		  </select>
  <input id="log_food_food_id" name="log_food[food_id]" type="hidden" value="{{ food_id }}">
  <div class="actions">
	 <a class="btn btn-success btn-submit" href="#">Log Item</a>
	 <a class="btn btn-info btn-cancel" href="#">Cancel</a>
  </div>
</form>
</script>
