<div id="favorite_foods_list">
	<% @favorite_foods.each do |favorite_food| %>
		<div class="food-item">
			<div class="food-item-info">
				<div class="control-panel">
					<%= link_to_log_food favorite_food.food %>
					<%= link_to_destroy "", favorite_food_path(favorite_food), name: "Remove", method: :delete, data: { confirm: "Are you sure you want to remove #{favorite_food.food.name} from your favorites?" } %>
				</div>
				<h4><%= link_to favorite_food.food_name, food_path(favorite_food.food) %></h4>
				<h3></h3>
				<%= macronutrient_summary_display(favorite_food.food) %>
				<div class="serving-size"><%= favorite_food.food.serving_size %></div>
			</div>
			<div class="food-item-image"><%= image_tag favorite_food.food.food_image.url(:thumb) %></div>
		</div>
	<% end %>
</div>


<%= render "log_foods/template_log_food" %>
