<div id="nutrition_search_box">
  <%= form_tag search_food_path, method: 'GET', class: "form-inline" do %>
			 <%= search_field_tag :search, params[:search], placeholder: "Search for foods", class: "form-control" %>&nbsp;
			 <%= button_tag type: 'submit', class: "btn btn-primary" do %>
						<span class="glyphicon glyphicon-search icon-white"></span> Search
			 <% end %>
<% end %>
<%= link_to 'View your Favorites', favorite_foods_path, id: "view_favorite_foods_link" %>
</div>
<%= render "foods/template_log_food" %>
