<%= unless @search_phrase.nil? then "Searched for: '#{@search_phrase}'" end %>
<h2>Search for a food!</h2>
<br/>
<%= form_tag search_food_path, method: 'get' do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search for a food" %><%= submit_tag "Search", class: "btn btn-primary", name: nil %>
<% end %>
<% @results.each do |food_item| %>
  <%= link_to food_item.name, food_item %>
<% end %>
<%= "Found #{pluralize(@results.length, "result")}." unless @search_phrase.blank? %>
<br/>
<%= link_to new_food_path, class: "btn btn-success" do %>
  <i class="icon-plus icon-white"></i> Create a food
<% end %>
<br/>
