<h2>Search for a food!</h2>
<br/>
<%= render 'search' %>
<% unless @search_phrase.nil? %> 
	<br/>
 <% end %>
 <div id="food_search_results" class="center-block">
	 <%= "Search for '#{@search_phrase}' found #{pluralize(@results.length, "result")}." %>
<% @results.each do |food| %>
	<div class="food-item">
	<div class="food-item-info">
		<div class="control-panel">
			<%= link_to_log_food food %>
		</div>
		<h4><%= link_to food.name, food_path(food) %></h4>
		<h3></h3>
		<%= macronutrient_summary_display(food) %>
		<div class="serving-size"><%= food.serving_size %></div>
	</div>
	<div class="food-item-image"><%= image_tag food.food_image.url(:thumb) %></div>
</div>
<% end %>
</div>

<br/>
<%= link_to new_food_path, class: "btn btn-primary" do %>
	<i class="glyphicon glyphicon-plus icon-white"></i> Create a Food
<% end %>
<br/>
