<h2>Search for a food!</h2>
<br/>
<%= render 'search' %>
<% unless @search_phrase.nil? %> 
  <br/>
  <div>
  Showing results for: '<%= @search_phrase %>' 
  <hr/>
</div>
 <% end %>
<% @results.each do |food_item| %>
  <%= link_to food_item.name, food_item %><br/>
<% end %>
<%= "Found #{pluralize(@results.length, "result")}." unless @search_phrase.blank? %>
<br/>
<%= link_to new_food_path, class: "btn btn-success" do %>
  <i class="icon-plus icon-white"></i> Create a food
<% end %>
<br/>
