<h1>Foods#show</h1>
<p>Find me in app/views/foods/show.html.erb</p>
<%= @food.name %>
<%= @food.brand %>
<%= @food.serving_size %>
<%= @food.calories %>
<%= @food.calories_from_fat %>
<%= @food.total_fat %>
<%= @food.saturated_fat %>
<%= @food.trans_fat %>
<%= @food.polyunsaturated_fat %>
<%= @food.monounsaturated_fat %>
<%= @food.cholesterol %>
<%= @food.sodium %>
<%= @food.carbs %>
<%= @food.dietary_fiber %>
<%= @food.sugars %>
<%= @food.protein %>
<%= @food.vitamin_a %>
<%= @food.vitamin_c %>
<%= @food.calcium %>
<%= @food.iron %>
<%= @food.vitamin_d %>
<%= @food.vitamin_e %>
<%= @food.vitamin_k %>
<%= @food.thiamin %>
<%= @food.riboflavin %>
<%= @food.niacin %>
<%= @food.vitamin_b6 %>
<%= @food.biotin %>
<%= @food.pantothenic_acid %>
<%= @food.phosphorus %>
<%= @food.iodine %>
<%= @food.magnesium %>
<%= @food.zinc %>
<%= @food.selenium %>
<%= @food.copper %>
<%= @food.manganese %>
<%= @food.chromium %>
<%= @food.molybednum %>
<%= @food.caffeine %>
<%= @food.alcohol %>
<%= @food.potassium %>
<%= @food.folic_acid %>
<%= @food.boron %>
<%= @food.cobalt %>
<%= @food.fluoride %>
<%= @food.acetic_acid %>
<%= @food.citric_acid %>
<%= @food.lactic_acid %>
<%= @food.malic_acid %>
<%= @food.choline %>
<%= @food.taurine %>
<%= @food.glutamine %>
<%= @food.creatine %>
<%= @food.sugar_alcohols %>
<%= @food.chloride %>

<%= link_to "Log this", "#" %>
