<h2>Change your password</h2>

<%= form_for(@user, :url => password_path(@user), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :current_password %>
  <%= f.password_field :current_password %>
<i>(current password is needed to confirm changes)</i><br/>
</div>

  <div><%= f.label :password, "New password" %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Change my password", class: "btn btn-primary" %></div>
<% end %>
