<div id="body_measurement_form_container">
<%= form_for(@body_measurement, html: { class: "form-horizontal" }) do |f| %>
	<% if @body_measurement.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@body_measurement.errors.count, "error") %> prohibited these measurements from being saved:</h2>
		
		<ul>
			<% @body_measurement.errors.full_messages.each do |msg| %>
      		<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
  <% end %>

  <div class="form-group">
			 <%= f.label :log_date, class: "col-sm-2 control-label" %>
			 <div class="col-sm-10">
						<%= f.date_select :log_date, { order: [:day, :month, :year] }, class: "form-control col-sm-10" %>
			 </div>
  </div>
	<%= f.hidden_field :unit %>

	<% %w(bicep_left bicep_right calf_left calf_right chest forearm_left forearm_right hips neck thigh_left thigh_right waist).each do |attr_symbol| %>
		<div class="form-group">
			<%= f.label attr_symbol, class: "col-sm-5 control-label" %>
			<div class="col-sm-3">
					  <%= f.text_field attr_symbol, class: "form-control input-small" %>
			</div>
			<div class="col-sm-1">
			<p class="measurement-unit"><%= @body_measurement.unit_abbr %></p>
			</div>
  		</div>
	<% end %>

	<div class="col-sm-offset-2 col-sm-10">
		<%= button_tag class: "btn btn-primary btn-large", type: 'submit' do %>
			<span class="glyphicon glyphicon-check icon-white"></span> Save Measurements
		<% end %>
	</div>
<% end %>
	</div>
