<%= form_for(@body_measurement) do |f| %>
	<% if @workout.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@body_measurement.errors.count, "error") %> prohibited these measurements from being saved:</h2>
		
		<ul>
			<% @body_measurement.errors.full_messages.each do |msg| %>
      		<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
  <% end %>

  <div class="field">
    <%= f.label :log_date %>
	 <%= f.date_select :log_date, { order: [:day, :month, :year] } %>
  </div>

	<div class="field">
			  <%= f.label :chest %>
			  <%= f.text_field :chest, class: "input" %>
	</div>

	<%= f.submit "Save Measurements" %>
<% end %>
