<h1>Exercises</h1>

<div class="row">
	<div class="col-md-4">
		<%= form_tag exercises_search_path, method: 'get', id: "search_filter" do %>
			<%= render 'filter_options', klass: Muscle %>
			<%= render 'filter_options', klass: ExerciseType %>
			<%= render 'filter_options', klass: Equipment %>
			<%= render 'filter_options', klass: ForceType %>
			<%= render 'filter_options', klass: ExperienceLevel %>
  
			<%= submit_tag 'Filter', class: "btn btn-primary btn-lg" %>
		<% end %>
	</div>
	<div class="col-md-8">
	<% unless @exercises.count == 0 %>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<% @exercises.each do |exercise| %>
				<tr>
					<td><%= link_to exercise.name, exercise %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<h3>No exercises matched the specified criteria</h3>
	<% end %>
	</div>
</div>
