<div class="row">
	<div class="col-md-9">
		<h1>
			<%= @exercise.name %>
		</h1>
		<ul id="exercise_details">
			<% unless @exercise.alternate_name.blank? %>
				<li><strong>Also known as:</strong> <%= @exercise.alternate_name %></li>
		<% end %>
			<li><strong>Type of Exercise:</strong> <%= link_to @exercise.exercise_type_name, exercise_type_path(@exercise.exercise_type) %></li>
			<li><strong>Main Muscle:</strong> <%= link_to @exercise.muscle_name, @exercise.muscle %></li>
			<% unless @exercise.other_muscles.blank? %>
					  <li><strong>Other Muscles:</strong> <%= @exercise.other_muscles %></li>
			<% end %>
			<li><strong>Equipment:</strong> <%= link_to @exercise.equipment_name, equipment_path(@exercise.equipment) %></li>
			<li><strong>Mechanic:</strong> <%= link_to @exercise.mechanic_type_name, mechanic_type_path(@exercise.mechanic_type) %></li>
			<li><strong>Force:</strong> <%= link_to @exercise.force_type_name, force_type_path(@exercise.force_type) %></li>
			<li><strong>Experience Level:</strong> <%= link_to @exercise.experience_level_name, experience_level_path(@exercise.experience_level) %></li>
		</ul>
		<div id="instructions">
			<ol>
				<% @exercise.instructions.each do |instruction| %>
					<li><%= instruction %></li>
			<% end %>
			</ol>
		</div>

	</div>
	<div class="col-md-3">
		<% if current_user %>
			<%= render 'one_rep_max', logged_orm_workout_set: @logged_orm_workout_set, calculated_orm: @calculated_orm %>
	<% end %>
	</div>
</div>
