
<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
Submitted by: <%= @exercise.user.username %>
</p>
<%= link_to 'Edit', edit_exercise_path(@exercise), class: "btn btn-primary" %> 
<%= link_to_destroy "Delete", @exercise %>
<br/><br/>
<%= link_to 'Back', exercises_path %>
