<div class="row">
	<div class="col-md-9">
		<p>
		<strong>Name:</strong>
		<%= @exercise.name %>
		</p>

		<p>
		Submitted by: <%= @exercise.user.username %>
		</p>
		<%= link_to_edit 'Edit', edit_exercise_path(@exercise) %> 
		<%= link_to_destroy "Delete", @exercise, data: { confirm: "Are you sure?"}, method: "delete" %>
	</div>
	<div class="col-md-3">
		<% if current_user %>
			<%= render 'one_rep_max', logged_orm_workout_set: @logged_orm_workout_set, calculated_orm: @calculated_orm %>
		<% end %>
	</div>
</div>
