<h3>Modifying Daily Nutrition Goals</h3>
<div id="edit_daily_nutrition_goal">
	<div id="edit_nutrition_goal_preset_selection" class="alert alert-warning">
		<h3>Presets!</h3>
		<div class="form-group form-inline">
			<label class="control-label" for="desired_calories">Desired Calories:</label>
			<input type="text" id="desired_calories" class="form-control" value="2000" /> kCal
		</div>
		<input type="radio" name="presets" value="0" 
		data-protein-percent="40"
		data-carbs-percent="30"
		data-total-fat-percent="30">Body Building<br/>

		<input type="radio" name="presets" value="1"
		data-protein-percent="45"
		data-carbs-percent="20"
		data-total-fat-percent="35" >Low Carb/Paleo<br/>

		<input type="radio" name="presets" value="2"
		data-protein-percent="34"
		data-carbs-percent="33"
		data-total-fat-percent="33" >Even Steven<br/>

		<input type="radio" name="presets" value="3"
		data-protein-percent="10"
		data-carbs-percent="60"
		data-total-fat-percent="30">Recommended Daily Intake (U.S.)<br/>

		<input type="radio" name="presets" value="4" 
		data-protein-percent="<%= protein_in_grams_to_percentage(@nutrition_goal.protein, @nutrition_goal.calories).to_i %>" 
		data-carbs-percent="<%= carbs_in_grams_to_percentage(@nutrition_goal.carbs, @nutrition_goal.calories).to_i %>" 
		data-total-fat-percent="<%= total_fat_in_grams_to_percentage(@nutrition_goal.total_fat, @nutrition_goal.calories).to_i %>" 
		checked>Current Settings<br/>

		<input type="radio" name="presets" value="5"
		data-protein-percent="40"
		data-carbs-percent="30"
		data-total-fat-percent="30" id="custom_percentages_option">Custom Percentages

		<div id="custom_percentages_entry" class="form-inline">
			<div class="form-group">
				<label class="control-label" for="nutrition_goal_protein">Protein</label>
				<input class="form-control" id="custom_percentage_entry_protein" type="text" value="34"/>%
			</div>

			<div class="form-group">
				<label class="control-label" for="nutrition_goal_carbs">Carbs</label>
				<input class="form-control" id="custom_percentage_entry_carbs" type="text" value="33"/>%
			</div>

			<div class="form-group">
				<label class="control-label" for="nutrition_goal_total_fat">Total Fat</label>
				<input class="form-control" id="custom_percentage_entry_total_fat" type="text" value="33"/>%
			</div>
			<div id="custom_percentage_entry_sum" class="center-block"></div>        
		</div>
	</div>



	<%= form_for @nutrition_goal, html: { class: "form-horizontal"} do |f| %>
		<div class="form-group">
		<%= f.label :calories, class: 'control-label col-sm-3' %>
		<%= f.text_field :calories, class: 'form-control col-sm-8' %>
	</div>

	<div class="form-group">
		<%= f.label :protein, class: 'control-label col-sm-3' %>
		<%= f.text_field :protein, class: 'form-control col-sm-8' %>
		<span class="form-control col-sm-1" id="protein_calories"></span>
	</div>

	<div class="form-group">
		<%= f.label :carbs, class: 'control-label col-sm-3' %>
		<%= f.text_field :carbs, class: 'form-control col-sm-8' %>
		<span class="form-control col-sm-1" id="carbs_calories"></span>
	</div>

	<div class="form-group">
		<%= f.label :total_fat, class: 'control-label col-sm-3' %>
		<%= f.text_field :total_fat, class: 'form-control col-sm-8' %>
		<span class="form-control col-sm-1" id="total_fat_calories"></span>
	</div>
	<br/>

	<%= button_to_submit "Update Goals" %>
<% end %>
</div>


<script>
$(document).ready(function(){
	UpdateTotalsByMacroNutrients();
});
</script>
