<%= join_leave_link(@circle) %>
<p>
  <strong>Name:</strong>
  <%= @circle.name %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @circle.motto %>
</p>

<p>
  <strong>Description:</strong>
  <%= @circle.description %>
  </p>

  <% if current_user.has_role? :admin, @circle %>
    <h1>You are an admin</h1>
  <% else %>
    <h2>You are NOT an admin</h2>
  <% end %>

<p>
  <strong>Is public:</strong>
  <%= @circle.is_public %>
</p>

<%= link_to 'Edit Info', edit_circle_path(@circle) if current_user.has_role? :admin, @circle %> |
<%= link_to 'Back', circles_path %>
<br><br>
<h3>Members</h3>
<% @circle.members.each do |user| %>
  <%= "#{user.username}" %><br>
<% end %>
