<% if @circle.is_admin? current_user %>
  <%= link_to "Awaiting Approval (#{@circle.pending_members.count})", pending_circle_members_path(@circle) if @circle.pending_members.count > 0 %>
<% end %><h1><%= @circle.name %></h1>
<h3><%= @circle.motto %></h3>

<p>
  <strong>Description:</strong>
  <%= @circle.description %>
  </p>


<p>
  <strong>Public Group?</strong>
  <%= @circle.is_public %>
</p>

<% if user_signed_in? %>
  <%= "You are a member" if @circle.is_member? current_user %>
  <%= "You are also an ADMIN" if @circle.is_admin? current_user %>
  <%= link_to 'Edit Info', edit_circle_path(@circle) if @circle.is_admin? current_user %>
<% end %>

<%= join_leave_link(@circle) %>
<% if user_signed_in? %>
  <%= button_to 'Destroy', @circle, method: :delete, data: { confirm: 'Are you sure?' } if @circle.is_admin? current_user %>
<% end %>

<br><br>

<%= link_to 'Back', circles_path %>
<br><br>
<h3><%= link_to "Members", circle_members_path(@circle) %></h3>
<% @circle.members.each do |user| %>
  <%= "#{user.username}" %><br>
<% end %>
