<%= join_leave_link(@circle) %>
<p>
  <strong>Name:</strong>
  <%= @circle.name %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @circle.motto %>
</p>

<p>
  <strong>Description:</strong>
  <%= @circle.description %>
  </p>

  <%= "You are a member" if @circle.is_member? current_user %>
  <%= "You are also an ADMIN" if @circle.is_admin? current_user %>

<p>
  <strong>Is public:</strong>
  <%= @circle.is_public %>
</p>

<%= link_to 'Edit Info', edit_circle_path(@circle) if @circle.is_admin? current_user %> |
<%= link_to 'Back', circles_path %>
<br><br>
<h3>Members</h3>
<% @circle.members.each do |user| %>
  <%= "#{user.username}" %><br>
<% end %>
