<div id="circle_control_panel">
  <% if user_signed_in? %>
  <%= link_to 'Edit Info', edit_circle_path(@circle), class: "btn" if @circle.is_admin? current_user %>
  <%= join_leave_link(@circle) %>
    <%= button_to 'Destroy', @circle, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if @circle.is_admin? current_user %>
    <div>
    <%= "This is a private group" if !@circle.is_public? %><br/>
    <%= "You are a member" if @circle.is_member? current_user %><br/>
    <%= "You are also an Administrator" if @circle.is_admin? current_user %><br/>
    <%= link_to_awaiting_approval(@circle) %>
  </div>
<% end %>
</div>

<h1><%= @circle.name %></h1>
<h3><%= @circle.motto %></h3>

<p>
<%= @circle.description unless @circle.description.blank? %>
</p>


<%= render "leaderboards/workout_board", workouts: @workouts, exercises: @exercises, circle: @circle %>


<br><br>

<%= link_to 'Back', circles_path %>
<br><br>
<h3><%= link_to "Members", circle_members_path(@circle) %></h3>
<% @circle.members.each do |user| %>
  <%= "#{user.username}" %><br>
<% end %>
