	<nav id="main-nav">
		<ul>
			<li><%= link_to "circles", circles_path %></li>
			<li><%= link_to "nutrition", nutrition_path %></li>
			<li><%= link_to "foods", foods_path %></li>
			<li><%= link_to "workouts", workouts_path %></li>
			<li><%= link_to "body weight", body_weights_path %></li>
			<li><%= link_to "measurements", body_measurements_path %></li>
			<li><%= link_to "exercises", exercises_path %></li>
			</ul>
 	</nav>

